#{extends 'main.html' /}
#{set title:'About' /}

<nav class="ui inverted teal menu">
  <a class="ui item" href="/">WitPress</a>
  <a class="ui item" href="publicblogdirectory">Public Blog Directory</a> 
  <a class="ui active item" href="/about">About</a> 
  <a class="ui item" href="/contact">Contact</a>
</nav>

<img class="ui  large image" src="/public/images/copyright.jpg">

<div class="ui grid">
   <div class="six wide column">
    <div class="ui raised segment">
    <h2>Copyright 2013 WitPress All rights reserved.</h2>
    </div>
  </div>
</div>