#{extends 'main.html' /} #{set title:'Signup' /}


<nav class="ui inverted teal menu">
	<a class=" active item" href="/login">WitPress</a>
	</nav>

<div class="ui two column grid">
	<div class="eight wide column">
		<div class="ui raised segment">
		
		<h1>Sign Up </h1>
			<div class="ui fluid form segment">
				<form action="/register" method="POST">
					<div class="two fields">
						<div class="field">
							<input placeholder="First Name" name="user.firstName" type="text">
						</div>
						<div class="field">
							<input placeholder="Last Name" name="user.lastName" type="text">
						</div>
					</div>
					<div class="ui left icon input field">
						<input placeholder="Email" name="user.email" type="text">
						<i class="user icon"></i>
					</div>
					<div class="ui left icon input field">
						<input placeholder="Password" type="password" name="user.password">
						<i class="lock icon"></i>
					</div>


					<div class="ui column">
						<section class="ui form segment">
							<input type="checkbox" id="terms" name="terms"> <label
								for="terms">I agree to the terms and conditions</label>
					</div>
					<button type="submit" class="ui green submit button">Submit</button>
				</form>
			</div>
		</div>
	</div>
	<div class="two vide column">
		<img class="ui large image" src="/public/images/sign-up.jpg">
	</div>
	</div>
</section>

